<%- include("partials/header") %> 
<div class="">
    <h1 class="header">Your movies</h1>
    <% movies.forEach(function(movie){ %>
        <div class="movie-index">
            <h2 class="movie-title"><%= movie.title %> </h2>
            <hr class="break">
            <p class="movie-rating">Your Rating - <%= movie.rating %> / 10</p>
            <hr>
            <img class="image movie-image" src="<%= movie.image %>" alt="">
            <p class="movie-review"><%= movie.review %> </p>
            <hr>
            <a href="/movies/<%= movie._id %> " class="detail">Read More</a>
        </div>
    <% }); %>
</div>

<%- include("partials/footer") %> 
