<%- include("partials/header") %> 

<h1>Welcome to the Movie Review App!</h1>
<% movies.forEach(function(movie){ %>
    <h2><%= movie.title %> </h2>
    <p><%= movie.rating %> / 10</p>
    <img src="<%= movie.image %>" alt="">
    <p><%= movie.review %> </p>
    <a href="/movies/<%= movie._id %> ">Read More</a>
<% }); %>
<%- include("partials/footer") %> 