<%- include("partials/header") %>

<h1><%= Movie.title %> </h1>
<img src="<%= Movie.image %>" alt="Image">
<p><%= Movie.rating %>/10 </p>
<p><%= Movie.review %> </p>

<%- include("partials/footer") %> 
